header .container {
    margin-top: 2rem;
    width: 1600px;
    height: 966px;
    background-image: url(../img/Layer_5.png);
    background-repeat: repeat-x;
    background-position:bottom;
    background-size: 1140px 245px;
    position: relative;
}

header .container .header_background {
    width: 1600px;
    height: 865px;
    position: absolute;
    right: 0px;
}

header .phone {
    width: 446px;
    height: 816px;
    position: absolute;
    top: 100px;
    left: 580px;
}

#applab {
    padding-right: 250px;
    font-size: 30px;
    font-weight: 700;
}

#applab .orange {
    color: orange;
}

#navigation {
    display: flex;
}

#navigation ul {
    padding-top: .75rem;
    display: flex;
}

#navigation ul li {
    list-style-type: none;
    padding-left: 2.5rem;
}

#navigation ul li a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

#navigation .btn {
    padding: .75rem 2rem 0 2rem;
    margin-left: 2.5rem;
}