body{
    font-family:'Poppins', sans-serif !important;
}

/* #navigation{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    background-color: white;
} */

#navigation .container{
    padding-top: 100px;
    display: flex;
}

#navigation ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#navigation .container ul li{
    list-style-type: none;
    padding-left: 50px;
}

#navigation .container ul li a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

#navigation .btn {
    padding-top: 12px;
    margin-top: -13px;
    margin-left: 50px;
    font-weight: 700;
    width: 250px;
    height: 50px;
}

#navigation .icon{
    display: none;
}

#applab{
    font-size: 30px;
    font-weight: 700;
    margin-top: -20px;
}

#applab .orange{
    color: orange;
}

header {
    background: url(../img/Layer_5.png) repeat-x bottom;
    width: 100%;
    height: 100%;
}

header .container{
    position: relative;
}

header .phone {
    position: absolute;
    top: 100px;
    left: 60%;
}

header .container .header_content {
    position: absolute;
    padding-top: 320px;
    width: 50%;
    z-index: 2;
}

#content_bgr{
    top: 100px;
    left: -280px;
    position: absolute;
}

header .container .header_content h1{
    font-family: 'Poppins SemiBold', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

header .container .header_content p {
    font-size: 20px;
}

header .container .header_content .links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

header .container .header_content .links>:nth-child(2){
    margin-left: 20px;
}

header .container .header_content .links a {
    text-decoration: none;
    padding-top: 12px;
    font-weight: 700;
    width: 150px;
    height: 50px;
}

header .container .header_content .badge{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    background: #e2eaed;
    width: 400px;
    border-radius: 50px;
}

header .container .header_content .badge i{
    color: orange;
    padding-right: 10px;
}

header .container .header_content .badge span{
    padding-top: 10px;
}

#companies h6 {
    margin: 40px;
    display: flex;
    justify-content: center;
}

#logos .container {
    display: flex;
    margin: 40px;
    justify-content: center;
}

#logos .container span{
    margin: 25px 100px 0 0;
}

#features{
    margin-top: 200px;
}

#features .container .content{

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
}

#features .container .content .phone_2{
    position: absolute;
    top: -50px;
    left: -100px;
}

#features .container .content .app_features {
    margin-left: 550px;
}

#features .container .content .app_features .heading h2{
    width: 50%;
    font-weight: 700;
}

#features .container .content .app_features .heading p{
    width: 75%;
}

#features .container .content .app_features .performance{
    margin-top: 40px;
    display: flex;
    position: relative;
}

#features .container .content .app_features .performance h5{
    color: red;
    font-weight: 700;
    padding-left: 25px;
}
#features .container .content .app_features .performance p{
    width: 65%;
    padding-left: 15px;
}

#features .container .content .app_features .prototyping {
    position: relative;
}

#features .container .content .app_features .prototyping{
    display: flex;
    margin-top: 40px;
}

#features .container .content .app_features .prototyping h5{
    color: blue;
    font-weight: 700;
    padding-left: 25px;
}
#features .container .content .app_features .prototyping p{
    width: 65%;
    padding-left: 25px;
}

#features .container .content .app_features .editing{
    display: flex;
    margin-top: 40px;
}

#features .container .content .app_features .editing{
    position: relative;
}

#features .container .content .app_features .editing h5{
    color: green;
    font-weight: 700;
    padding-left: 25px;
}
#features .container .content .app_features .editing p{
    width: 60%;
    padding-left: 25px;
}

.speed{
    position:absolute;
    top: 10px;
    left: 10px;
}

.prototype{
    position:absolute;
    top: 10px;
    left: 10px;
}

.vector{
    position:absolute;
    top: 20px;
    left: 10px;
}

#jackpots{
    display: flex;
    margin-top: 250px;
    justify-content: space-around;
}

#jackpots h1{
    font-family: 'Poppins SemiBold', sans-serif;
    margin-right: 60px;
    font-weight: 700;
}

#jackpots p{
    padding-left: 60px;
    padding-top: 25px;
    font-size: 20px;
    color: #616368;
    border-left: 2px solid #616368;
}

#rewards .container{
    margin-top: 80px;
    display: flex;
}

#rewards .container h5{
    padding-top: 10px;
    padding-bottom: 5px;
}

#rewards .container>:nth-child(2){
    padding-left: 5px;
    padding-right: 5px;
}

#rewards .container .payouts{
    position: relative;
}

#rewards .container .payouts h5{
    font-family: 'Poppins SemiBold', sans-serif;
    color: red;
    font-weight: 700;
}

.bill {
    position: absolute;
    top: 10px;
    left: 10px;
}

#rewards .container .network{
    position: relative;
}

#rewards .container .network h5{
    font-family: 'Poppins SemiBold', sans-serif;
    color: blue;
    font-weight: 700;
}

.network_icon {
    position: absolute;
    top: 10px;
    left: 60px;
}

#rewards .container .rewards{
    position: relative;
}

#rewards .container .rewards h5{
    font-family: 'Poppins SemiBold', sans-serif;
    color: green;
    font-weight: 700;
}

.icon_badge {
    position: absolute;
    top: 10px;
    left: 10px;
}

#design{
    padding-top: 150px;
}

#design .container .content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#design .container .content .design_content {
    padding-top: 60px;
    margin-right: 50px;
    width: 40%;
}
#design .container .content .design_content h1{
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
}

#design .container .content .design_content p{
    padding-top: 10px;
    color: #616368;;
}

#design .container .content .design_img{
    position: relative;
}

#design .container img{
    right: 100px;
    position: absolute;
}

#design .btn{
    padding-top: 12.5px;
    margin-top: 10px;
    font-weight: 700;
    width: 150px;
    height: 50px;
}

#choice {
    margin-top: 200px;
}

#choice .container .content .content_heading{
    text-align: center;
}

#choice .container .content .content_heading h1{
    padding-left: 300px;
    padding-right: 300px;
    font-family: 'Poppins SemiBold',sans-serif;
    font-weight: 700;
}

#choice .container .content .content_heading p{
    padding-top: 25px;
    padding-left: 230px;
    padding-right: 230px;
}

#choice .container .content .icons_first_row{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

#choice .container .content .icons_first_row>:nth-child(n){
    text-align: center;
    position: relative;
}

#choice .container .content .icons_first_row>:nth-child(2) {
    padding-left: 72.5px;
    padding-right: 50px;
}

#choice .container .content .icons_first_row>:nth-child(n)>:first-child>:nth-child(2){
    position: absolute;
}

.web_design {
    top: 12.5px;
    right: 132.5px;
}

.throphy{
    top: 15px;
    right: 190px;
}

.computer {
    top: 12.5px;
    right: 132.5px;
}

#choice .container .content .icons_second_row{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}

#choice .container .content .icons_second_row>:nth-child(n){
    text-align: center;
    position: relative;
}

#choice .container .content .icons_second_row>:nth-child(2) {
    padding-left: 72.5px;
    padding-right: 50px;
}

#choice .container .content .icons_second_row>:nth-child(n)>:first-child>:nth-child(2){
    position: absolute;
}

.tools {
    top: 15px;
    right: 135px;
}

.planning{
    top: 15px;
    left: 210px;
}

.support {
    top: 15px;
    right: 135px;
}

#choice .container .content h5{
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 5px;
}

#ultimate{
    padding-top: 10rem;
}

#ultimate .container .ultimate_content{
    position: relative;
    width: 880px;
}

#ultimate .container .ultimate_content .ultimate_heading{
    width: 400px;
}

#ultimate .container .ultimate_content .ultimate_heading h1{
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
}

#ultimate .container .ultimate_content .icons_first_row,
#ultimate .container .ultimate_content .icons_second_row{
    padding-top: 32px;
    display: flex;
}

#ultimate .container .ultimate_content .icons_first_row>:nth-child(2),
#ultimate .container .ultimate_content .icons_second_row>:nth-child(2){
    padding-left: 107px;
}

#ultimate .container .ultimate_content .icons_first_row p,
#ultimate .container .ultimate_content .icons_second_row p{
    width: 260px;
}

#ultimate .container .ultimate_content .icons_first_row h5,
#ultimate .container .ultimate_content .icons_second_row h5{
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
}

#ultimate .container .ultimate_content .icons_first_row,
#ultimate .container .ultimate_content .icons_second_row{
    position: relative;
}

#ultimate .container .ultimate_content .icons_first_row>:first-child>:first-child>:nth-child(2){
    position: absolute;
    top: 45px;
    left: 15px;
}

#ultimate .container .ultimate_content .icons_first_row>:nth-child(2)>:first-child>:nth-child(2){
    position: absolute;
    top: 50px;
    left: 385px;
}

#ultimate .container .ultimate_content .icons_second_row>:first-child>:first-child>:nth-child(2){
    position: absolute;
    top: 45px;
    left: 15px;
}

#ultimate .container .ultimate_content .icons_second_row>:nth-child(2)>:first-child>:nth-child(2){
    position: absolute;
    top: 50px;
    left: 385px;
}

#ultimate .container .ultimate_content a{
    text-decoration: none;
    margin-top: 20px;
    padding-top: 10px;
    margin-right: 10px;
    font-weight: 700;
    width: 100px;
    height: 50px;
}

#ultimate .container .ultimate_content .images{
    position: absolute;
    bottom: 700px;
    left: 650px;
}

#ultimate .container .ultimate_content .images>:nth-child(n){
    position: absolute;
}

.dark_phone{
    top: 100px;
    left: -50px;
}

.light_phone{
    top: 100px;
    left: 200px;
}

#pricing .container .pricing_content{
    text-align: center;
    margin-top: 250px;
}

#pricing .container .pricing_content .pricing_heading h1{
    padding-left: 250px;
    padding-right: 250px;
    font-family: 'Poppins SemiBold',sans-serif;
    font-weight: 700;
}

#pricing .container .pricing_content .pricing_heading p{
    padding-top: 25px;
    padding-left: 230px;
    padding-right: 230px;
}

#pricing .container .pricing_content .switch_plan{
    margin: 25px 0 25px 0;
    display: inline-block;
    width: 220px;
    height: 57px;
    border: 1px solid #e2eaed;
}

#pricing .container .pricing_content .cards{
    display: flex;
    justify-content: center;
}

#pricing .container .pricing_content .cards .card_1{
    width: 317px;
    height: 554px;
    box-shadow: 0 0 50px 0 #ebebeb;
}

#pricing .container .pricing_content .cards .card_2{
    border: 2px solid #ebebeb;
    margin-left: 40px;
    width: 317px;
    height: 605px;
    box-shadow: 0 0 50px 0 #ebebeb;
}

#pricing .container .pricing_content .cards .card_1 h5,
#pricing .container .pricing_content .cards .card_2 h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

#pricing .container .pricing_content .cards .card_1 .top,
#pricing .container .pricing_content .cards .card_2 .top{
    background-color: #f4f7f9;
    height: 234px;
    padding-top: 25px;
}

#pricing .container .pricing_content .cards .card_1 .top .price,
#pricing .container .pricing_content .cards .card_2 .top .price{
    font-size: 60px;
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
}

#pricing .container .pricing_content .cards .card_1 .bottom,
#pricing .container .pricing_content .cards .card_2 .bottom{
    padding-top: 25px;
}

#pricing .container .pricing_content .cards .card_1 .bottom .btn,
#pricing .container .pricing_content .cards .card_2 .bottom .btn{
    padding-top: 10px;
    margin-top: 10px;
    width: 210px;
    height: 50px;
}

#pricing .container .pricing_content .cards .card_2 .trial{
    padding-top: 50px;
    text-decoration: none;
}

#reviews{
    margin-top: 150px;
}

#reviews .container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#reviews .container .reviews_content{
    position: relative;
    width: 550px;
}

#reviews .container .reviews_content h1,
#reviews .container .reviews_content .review h5{
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
}

#reviews .container .reviews_content p{
    width: 500px;
    padding-top: 10px;
}

#reviews .container .reviews_content .people_image{
    position: absolute;
    top: -40px;
    right: 550px;
}

#reviews .container .reviews_content .review i{
    padding-top: 40px;
    padding-bottom: 30px;
    color: #ffcc00;
}

#reviews .container .reviews_content .review .user{
    padding-top: 50px;
    display: flex;
}

#reviews .container .reviews_content .review .user_data{
    margin-top: 15px;
    margin-left: 20px;
}

#questions .container{
    width: 945px;
    margin-top: 200px;
}

#questions .container .questions_content .q_heading{
    display: block;
    text-align: center;
}

#questions .container .questions_content .q_heading h1{
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
}

#questions .container .questions_content .q_heading p{
    padding: 25px 125px 25px 125px;
}

.question{
    margin-top: 5px;
    background-color: #f5f7fa;
    box-shadow: 0 0 5px 0 #c4c3c3;
}

.first_answer{
    padding: 25px 40px 25px 50px;

}

.active_q:hover, .collapsible:hover{
    background-color: #e1e2e4;
}

.collapsible{
    display: flex;
    text-align: left;
    font-weight: 700;
    padding: 25px 50px 50px 50px;
    border: none;
    cursor: pointer;
    height: 63px;
    justify-content: space-between;
}

.collapsible:after {
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    color: black;
    font-weight: bold;
}

.active_q:after{
    content: '\f068';
    font-family: "Font Awesome 5 Free";
    color: black;
    font-weight: bold;
}

.q_answer{
    display: none;
    padding: 25px 40px 25px 50px;
}

#download {
    margin-top: 200px;
}

#download .container .download_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 60%;
}

#download .container .download_content h1{
    font-family: 'Poppins SemiBold', sans-serif;
    font-weight: 700;
}

#download .container .download_content p{
    padding-top: 10px;
}

.download_img{
    position: absolute;
    top: -90px;
    left: 550px;
}

.store_img{
    margin-top: 25px;
    margin-bottom: 115px;
}

footer{
    height: 567px;
    background-color: #09142e;
}

footer .footer_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

#applab .white{
    color: white;
}

footer .container .footer_content ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 460px;
    padding-top: 50px;
}

footer .container .footer_content ul li a{
    color: white;
}

footer .container .footer_content .social_icons{
    margin-top: 50px;

}

footer .container .footer_content .social_icons>:nth-child(3){
    color: #ffffff;
}

footer .container .footer_content .social_icons a{
    color: #273043;
}

footer .container .footer_content .copyright{
    margin-top: 50px;
    color: #273043;
}
